// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: sans-serif;
  background-color: rgb(210, 255, 255);
  color: rgb(48, 48, 48);
}

body {
  text-align: center;
  
  h1 {
    position: relative;
    margin: auto;
  }
  
  ul {
    width: 20%;
    margin: auto;
    text-align: left;
    li {
      list-style-type: none; 
    }
  }
  
  a {
    text-decoration: none;
  
    &:hover {
      color: red;
    }
  }

  .commentDiv {
    width: 35%;
    margin: 0 auto 20px auto;
    text-align: left;
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    h4 {
      margin-top: 0;
      text-decoration: underline;
    }

    p {
      margin-bottom: 0;
    }

    .time {
      font-size: .7em;
      width: 100%;
      text-align: right;
    }
  }
}